<div class="col-md-8 border border-light shadow">
  <div class="row border-bottom border-primary">
    <div class="col-md-3 col-12" style="text-align: center;"><%= image_tag @user.get_profile_image, style: "border-radius: 50%; width: 150px; height: 150px;" %></div>
    <div class="col-md-5 offset-md-3 col-12">
      <div class="text-right">
        <% if current_user != @user%>
          <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
            <%= link_to chat_path(@user.id), class: "btn btn-outline-warning", style: "font-size: 10px;" do %>
              <i class="fas fa-envelope"></i>
            <% end %>
          <% end %>
          <% if current_user.following?(@user) %>
            <%= link_to user_relationships_path(@user.id), method: :delete, class: "btn btn-info" do %>
              <i class="fas fa-user-minus"></i>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user.id), method: :post, class: "btn btn-success" do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          <% end %>
        <% else %>
          <% if @user.name != "guestuser" %>
            <%= link_to edit_user_path(@user), class: "text-dark" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="text-center"><strong><%= @user.name %></strong></div>
      <div class="text-center"><%= @user.prefecture.name %></div>
      <div class="text-center"><i class="fas fa-birthday-cake"></i><%= @user.birth_year %>年<%= @user.birth_month %>月<%= @user.birth_day %>日</div>
      <div class="text-center"><i class="fas fa-futbol"></i>好きなチーム：</br><%= @user.favorite_team %></div>
      <div class="text-center"><%= link_to "follow #{@user.followings.count}人", user_followings_path(@user), class: "text-dark", style: "font-size: 12px;" %> <%= link_to "followers #{@user.followers.count}人", user_followers_path(@user), class: "text-dark", style: "font-size: 12px;" %></div>
    </div>
  </div>
  <div class="offset-md-1 co-md-6 mt-2"><%= safe_join(@user.profile.split("\n"),tag(:br)) %></div>
</div>
<div class="col-md-8">
  <%= render 'public/posts/index', posts: @user.posts %>
</div>
